blinker 
Brotli 
certifi 
chardet
charset-normalizer 
click 
colorama
Flask
Flask-Compress
idna 
imutils 
itsdangerous 
Jinja2 
MarkupSafe 
numpy 
opencv-python-headless 
pandas 
pdf2image 
Pillow 
pip 
python-dateutil 
pytz 
requests 
scipy 
setuptools 
six 
tzdata 
urllib3 
Werkzeug
python-dotenv