opencv-python
blinker
certifi 
chardet
charset-normalizer 
click 
colorama
Flask
Flask-Compress
idna 
imutils 
itsdangerous
MarkupSafe 
numpy 
opencv-python-headless 
pandas
Pillow 
pip 
python-dateutil 
pytz 
requests 
scipy 
setuptools 
six 
tzdata 
urllib3 
Werkzeug
python-dotenv
netifaces
PyMuPDF
